@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@600&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}
header{
    background-color: #ffffff;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}
.logo{
    text-decoration: none;
    color: #df276b;
    font-weight: 700;
    font-size: 1.8em;
}
.navbar a{
    text-decoration: none;
    color: #df276b;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
}
section{
    padding: 100px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/background1.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    margin-right: 20px;
}
.main img{
    width: 400px;
    height: 400px;
    border-radius: 50%;
}
.image-circle{
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.main h2{
    color: #ffffff;
    font-size: 1.4em;
    font-weight: 500;
}
.main h2 span{
    display: inline-block;
    margin-top: 10px;
    color: #df276b;
    font-size: 3em;
    font-weight: 600;
}
.main h3{
    color: #ffffff;
    font-size: 1.9em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.main-btn{
    color: #ffffff;
    display: inline-block;
    background-color: #df276b;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 15px;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    margin-bottom: 40px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: #b81c56;
    transform: scale(1.1);
}
.social-icons a{
    color: #ffffff;
    font-size: 1.7em;
    padding-right: 30px;
}
.title{
    display: flex;
    justify-content: center;
    color: #df276b;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.projects{
    background-color: #faa8c6;
}
.projects-card{
    background-color: #ffffff;
    border: 1px solid #ffffff;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.projects-card:hover{
    transform: scale(1.1);
}
.projects-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    width: 100%;
}
.project-info{
    padding: 1em;
}
.project-categories{
    font-size: 0.8em;
    color: #000000;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;
}
.project-demo{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-top: 10px;
}
.more-details{
    text-decoration: none;
    color: #df276b;
}
.more-details:hover{
    color: #b81c56;
}
.card{
    background-color: #ffffff;
    width: 21em;
    box-shadow: 0 5px 25px rgba(1, 1, 1, 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #df276b;
    font-size: 8em;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: #df276b;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;
}
.contact .icon{
    font-size: 4.5em;
}
.contact .info h3{
    color: #000000;
}
.contact .info p{
    color: #717171;
}
footer{
    background-color: #df276b;
    padding: 2em;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 1em;
}
.footer .social-icons a{
    font-size: 1.1em;
    padding: 0 12px 0 0;
}
@media (max-width:1023px){
    header{
        padding: 12px 20px;
    }
    .navbar a{
        padding-left: 10px;
    }
    .title{
        font-size: 1.8em;
    }
    section{
        padding: 80px 20px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }

}
@media (max-width:641px){
    body{
        font-size: 12px;
    }
    .main h2{
        font-size: 1em;
    }
    .main h3{
        font-size: 1.4em;
    }
    .main img{
        width: 200px;
        height: 200px;
    }
    .main-body{
        margin-top: 80px;      
    }
    .main{
        flex-direction: column;
        align-items: center; 
    }
    .image-circle{
        margin-left: 0%;
        margin-top: 50px;
    }

}
@media (max-width:300px) {
    body{
        font-size: 10px;
    }
    
}

